p {
    color: white;
    background-color: black;
    font-size: 24px;
    text-align: left;
}

table {
    border: 5px solid black;
}

td:hover {
    background-color: gray;
    color: black;
}

tr, th {
    background-color: cyan;
    color: black;
}

tr, td {
    background-color: lightseagreen;
    color: white;
}

h2 {
    font-weight: 100;
    color: blue;
    text-shadow: 2px 2px red;
}